



    <div class="grid-home">
        <section class="grid-left">
        <a class="img-tiles" href="/recipe/<%= titleRecipe.id %>"><img src="<%= titleRecipe.img_url %>" alt="" /></a>
        </section>

        <section class="grid-right">
   
        <% for (let recipe of recipes) { %>
        
    
        <a href="/recipe/<%= recipe.id %>"><img class="img-tiles" src="<%= recipe.img_url %>" alt="" /></a>
    
  
        <% } %>
        </section>
    </div>