

<a href="/recipe/share">Share a Recipe</a>

    <div class="grid-home">
        <section class="grid-left">
        <a class="img-tiles" href=""><img src="<%= titleRecipe.img_url %>" alt="" /></a>
        </section>

        <section class="grid-right">
   
        <% for (let recipe of recipes) { %>
        
    
        <a href=""><img class="img-tiles" src="<%= recipe.img_url %>" alt="" /></a>
    
  
        <% } %>
        </section>
    </div>