<h2>login</h2>
<%= message %>
<form action="/sessions/login" method="post">
    <input type="text" name="email" placeholder="email address">

    <input type="password" name="password" placeholder="Password">
    <button>submit</button>
</form>